<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1>Welcome to chat room: {{ room.name }}</h1>

<h2>Messages</h2>
<div id="messages">
    {% for message in messages %}
        <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{ message.text }}</div>
    {% endfor %}
</div>

<form id="message_input_form">
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button type="submit">Send</button>
</form>
    <label for="books">Choose a book to read with your book club:</label>
<form method="post" action="/audio/books">
    <select id="book" name ="books">
        {% for book in books %}
            <option value= "{{ book[0] }}">{{ book[0] }} (by {{ book[1] }})</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<h3>Members</h3>
<ul>
    {% for member in room_members %}
        <li>{{ member._id.username }}</li>
    {% endfor %}
</ul>

{% block body %}
    <h3>Audiobook Files</h3>
    <audio controls="controls" autoplay="autoplay"></audio>
    <ul>
    {% for song in songs %}
        <li><a href="javascript:void(0);">{{song}}</a></li>
    {% endfor %}
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            Results:
            <pre>
                {% for message in messages %}
{{ message }}
                {% endfor %}
            </pre>
        {% endif %}
    {% endwith %}
    <script type='text/javascript' src="/static/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        {% for song in songs %} 
            $('li').click(function(){
                var str = $(this).text()
                $('audio').attr('src', '/static/music/'+str);
            });
        {% endfor %}
    </script>
{% endblock %}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });


    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${username}&nbsp;[${created_at}]:&nbsp;</b> ${message}`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}&nbsp;[${data.created_at}]:&nbsp;</b> ${data.message}`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.username !== "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newNode);
    });
</script>
</html>